<template>
  <div class="ratings">
    <i
      class="ratings__item"
      :class="{ 'is-filled': index <= ratings }"
      v-for="index in length"
      :key="'rating' + index"
    ></i>
    <span class="ratings__description">
      총 {{ length }}점 중 {{ ratings }}점입니다.
    </span>
  </div>
</template>

<script>
  export default {
    props: {
      length: {
        type: Number,
        default: 5,
      },
      ratings: {
        type: Number,
        default: 0,
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "../../utils/scss/index.scss";
  .ratings {
    @include e("item") {
      display: inline-block;
      margin-left: 4px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #e0e0e0;
      &:first-of-type {
        margin-left: 0;
      }

      &.is-filled {
        background-color: #ffaa00;
      }
    }
    @include e("description") {
      @include a11y;
    }
  }
</style>
