<template>
  <form class="text-form" @submit.prevent="handleSubmit">
    <div class="text-form__fieldset">
      <textarea
        class="text-form__textarea"
        :class="{ 'is-typing': isTyping }"
        rows="3"
        v-model="textContent"
        placeholder="내용이 있을수도 있습니다."
        @input="handleTextareaChange"
        :disabled="disabled"
        :readonly="readonly"
      />
      <small class="text-form__text-length">
        <span class="a11y">남은 글자 수</span>
        {{ remainingLength }}
      </small>
    </div>
    <transition name="button">
      <button class="text-form__submit" v-if="isTyping" type="submit">
        Save
      </button>
    </transition>
  </form>
</template>

<script>
  export default {
    props: {
      maxLength: {
        type: Number,
        default: 300,
      },
      defaultValue: {
        type: String,
        default: "",
      },
      disabled: {
        type: Boolean,
        default: false,
      },
      readonly: {
        type: Boolean,
        default: false,
      },
    },
    data() {
      return {
        textContent: this.defaultValue,
      };
    },
    computed: {
      remainingLength() {
        return this.maxLength - this.textContent.length;
      },
      isTyping() {
        return this.textContent.length > 0;
      },
    },
    methods: {
      handleTextareaChange(e) {
        const isOverflow = this.textContent.length >= this.maxLength;
        this.textContent = isOverflow
          ? e.target.value.substr(0, this.maxLength)
          : e.target.value;
      },
      handleSubmit() {
        console.log("submit", this.textContent);
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "../../utils/scss/index.scss";
  .text-form {
    position: relative;
    $submitButtonWidth: 100px;
    @include e("fieldset") {
      position: relative;
    }
    @include e("textarea") {
      display: inline-block;
      width: 100%;
      height: 100px;
      font-size: 14px;
      resize: none;
      border: 1px solid #e0e0e0;
      will-change: width;
      transition: width 0.3s ease-in-out;
      &.is-typing {
        width: calc(100% - $submitButtonWidth);
        &:focus {
          border-color: skyblue;
          outline: 0;
        }
      }
      &[readonly],
      &[disabled] {
        background-color: rgba(59, 59, 59, 0.1);
        color: rgba(170, 170, 170, 0.4);
        border-color: rgba(118, 118, 118, 0.1);
      }
      &[readonly] {
        color: darken(#0000ff, 10%);
      }
      &[disabled] {
        color: darken(#ff0000, 10%);
      }
      &::placeholder {
        color: inherit;
      }
    }
    @include e("text-length") {
      display: block;
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #424242;
      opacity: 0.4;
      transition: transform 0.3s ease-in-out;

      @at-root .is-typing ~ & {
        transform: translateX(-100px);
      }
      @at-root [readonly] ~ & {
        &:before {
          content: "(읽기 전용)";
          display: inline-block;
        }
      }
      @at-root [disabled] ~ & {
        &:before {
          content: "(비활성화)";
          display: inline-block;
        }
      }
    }
    @include e("submit") {
      -webkit-appearance: none;
      border: 1px solid #e0e0e0;
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 0;
      display: inline-block;
      width: 100px;
      height: 100px;
      font-size: 14px;
      color: #424242;
    }
  }
  .button-enter-active {
    transition: all 0.35s ease-in-out;
  }
  .button-enter {
    opacity: 0;
    transform: translateX(10px);
  }
</style>
