* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

p,
figcaption {
  margin: 0;
}

.a11y {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
