@mixin a11y {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@mixin clearboth {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
