@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

@mixin text-overflow {
  overflow: hidden;

  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
