<template>
  <div
    class="card"
    :style="computedCardStyle"
    :class="{ 'card--horizontal': layout === 'horizontal' }"
  >
    <div class="card__image">
      <figure class="card__image-ratio-box">
        <img :src="imagePath" alt="" />
        <figcaption>{{ title }}의 이미지</figcaption>
      </figure>
    </div>
    <div class="card__inner">
      <section class="card__content">
        <small class="card__label">
          {{ label }}
        </small>
        <strong class="card__title">
          {{ title }}
        </strong>
        <em class="card__highlight" v-if="highlight !== ''">
          {{ highlight }}
        </em>
        <p class="card__description">
          {{ description }}
        </p>
      </section>

      <footer v-if="ratings > 0 || footerText !== ''" class="card__footer">
        <Ratings v-if="ratings > 0" :ratings="ratings" />
        <p class="card__footer-text">
          {{ footerText }}
        </p>
      </footer>
    </div>
  </div>
</template>

<script>
  import Ratings from "@/components/Ratings";
  export default {
    components: {
      Ratings,
    },
    props: {
      layout: {
        type: String,
        default: "vertical",
      },
      width: {
        type: Number,
        default: 170,
      },
      imagePath: {
        type: String,
        default: "",
      },
      label: {
        type: String,
        default: "",
      },
      title: {
        type: String,
        default: "",
      },
      description: {
        type: String,
        default: "",
      },
      highlight: {
        type: String,
        default: "",
      },
      ratings: {
        type: Number,
        default: 0,
      },
      footerText: {
        type: String,
        default: "",
      },
    },
    computed: {
      computedCardStyle() {
        let style = {};
        switch (this.layout) {
          case "vertical":
            style = this.width === 170 ? {} : { width: `${this.width}px` };
            break;
          case "horizontal":
            style = this.width === 280 ? {} : { width: `${this.width}px` };
            break;
          default:
            break;
        }
        return style;
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "../../utils/scss/index.scss";
  %innerPadding {
    padding-right: 12px;
    padding-left: 12px;
  }

  .card {
    display: inline-block;
    min-width: 170px;
    width: 170px;
    border: 1px solid #dedede;
    background-color: #fcfcfc;

    @include e("image") {
      overflow: hidden;
    }
    @include e("image-ratio-box") {
      position: relative;
      width: 100%;
      height: 0;
      margin: 0;
      padding-bottom: 100%;
      background: #efefef;
      overflow: hidden;
      > img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
      }

      > figcaption {
        @include a11y;
      }
    }

    @include e("content") {
      @extend %innerPadding;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    @include e("label") {
      @include text-overflow;
      display: block;
      color: #999;
      font-size: 12px;
    }
    @include e("title") {
      display: block;
      word-break: break-word;
      margin-top: 4px;
      margin-bottom: 22px;
      font-size: 16px;
      font-weight: normal;
      color: #000;
    }
    @include e("description") {
      font-size: 13px;
      .card__highlight + & {
        display: inline-block;
        text-decoration: line-through;
        color: #999;
      }
    }
    @include e("highlight") {
      font-size: 14px;
      color: #fc0000;
      font-style: normal;
    }
    @include e("footer") {
      @extend %innerPadding;
      border-top: 1px solid #e0e0e0;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    @include e("footer-text") {
      @include text-overflow;
      color: #999;
      font-size: 13px;
    }

    @include m("horizontal") {
      $leftWidth: 45%;
      @include clearboth;
      position: relative;
      min-width: 280px;
      .card {
        @include e("image") {
          margin-right: 14px;
          float: left;
          width: $leftWidth;
        }
        @include e("title") {
          @include text-overflow;
          margin-bottom: 12px;
        }
        @include e("content") {
          padding-bottom: 50px;
        }
        @include e("footer") {
          position: absolute;
          bottom: 0;
          right: 0;
          left: $leftWidth;
          border-top: none;
        }
      }
    }
  }
</style>
