<template>
  <div class="showroom">
    <button @click="viewComponentKey = 'card'">과제1. 카드UI</button>
    <button @click="viewComponentKey = 'textForm'">과제2. 입력 폼 UI</button>
    <main v-if="viewComponentKey === 'card'">
      <h1>과제1. 카드 UI</h1>
      <h2>1. 세로형 레이아웃</h2>
      <Card v-bind="cardProps.vertical" />
      <h3>1-1. 카드 하단 텍스트 영역이 없는 경우</h3>
      <Card
        v-bind="{
          ...cardProps.vertical,
          footerText: '',
        }"
      />
      <h3>1-2. 카드 하단 별점 처리 UI가 없는 경우</h3>
      <Card
        v-bind="{
          ...cardProps.vertical,
          ratings: 0,
        }"
      />
      <h3>1-3. 카드 하단 텍스트 / 별점 처리 UI가 없는 경우</h3>
      <Card
        v-bind="{
          ...cardProps.vertical,
          footerText: '',
          ratings: 0,
        }"
      />
      <h2>2. 가로형 레이아웃</h2>
      <Card v-bind="cardProps.horizontal" />
    </main>
    <main v-if="viewComponentKey === 'textForm'">
      <h1>과제2. 입력 폼 UI</h1>
      <h2>Default 상태</h2>
      <TextForm v-bind="textFormProps.default" />
      <h2>입력 중 상태</h2>
      <TextForm
        v-bind="{
          ...textFormProps.default,
          defaultValue: '입력 중..!!',
        }"
      />
      <h2>비활성화 상태</h2>
      <TextForm
        v-bind="{
          ...textFormProps.default,
          defaultValue: '비활성화 상태의 기본 값 텍스트 테스트',
          disabled: true,
        }"
      />
      <h2>읽기 전용 상태</h2>
      <TextForm
        v-bind="{
          ...textFormProps.default,
          defaultValue: '읽기 전용 상태의 기본 값 텍스트 테스트',
          readonly: true,
        }"
      />
    </main>
  </div>
</template>

<script>
  import Card from "./components/Card";
  import TextForm from "./components/TextForm";
  export default {
    components: {
      Card,
      TextForm,
    },
    data() {
      return {
        viewComponentKey: "card",
        cardProps: {
          vertical: {
            layout: "vertical",
            width: 170,
            imagePath:
              "https://i.picsum.photos/id/567/170/170.jpg?blur=2&hmac=1IIvk9iQpvjVuaDnLJhmMUK2OZNDrxviEmT32UGV0w4",
            label: "Card Label",
            title: "Card Title",
            description: "Cross Out",
            highlight: "highlight",
            ratings: 4,
            footerText:
              "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
          },
          horizontal: {
            layout: "horizontal",
            width: 340,
            imagePath:
              "https://i.picsum.photos/id/567/170/170.jpg?blur=2&hmac=1IIvk9iQpvjVuaDnLJhmMUK2OZNDrxviEmT32UGV0w4",
            label: "Card Label",
            title: "Card Title",
            description: "Cross Out",
            highlight: "highlight",
            ratings: 4,
            footerText:
              "Lorem Ipsum is simply dummy text of the printing and typesetting industry.",
          },
        },
        textFormProps: {
          default: {
            maxLength: 500,
            defaultValue: "",
            readonly: false,
            disabled: false,
          },
        },
      };
    },
  };
</script>

<style lang="scss" scoped>
  .showroom {
    max-width: 720px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    h2 {
      margin-top: 44px;
    }
    h3 {
      margin-top: 24px;
    }
  }
</style>
